/* Coolors Exported Palette - coolors.co/1d2951-c6e0ff-ef2d56-403f4c-02111b */


/* HSL */

$color1: hsla(226%, 47%, 22%, 1);
$color2: hsla(213%, 100%, 89%, 1);
$color3: hsla(347%, 86%, 56%, 1);
$color4: hsla(245%, 9%, 27%, 1);
$color5: hsla(204%, 86%, 6%, 1);

/* RGB */

$color1: #1d2951;
$color2: #c6e0ff;
$color3: #ef2d56;
$color4: #403f4c;
$color5: #02111b;